{% extends 'app/dummy.html' %}

{% block title %}
    <title>SchoolCreate</title>
{% endblock %}

{% block body_block %}
<style>
    body
    {
        background-color: slategrey;
    }
    h1
    {
        color: cornsilk;
    }
</style>
    <center>
    {% if form.instance.pk %}
        <h1>School Update Form</h1>
    {% else %}
        <h1>Form to Create School</h1>
    {% endif %}
        <form method="POST">
            {% csrf_token %}
                {{form.as_p}}
        {% if form.instance.pk %}
            <input type="submit" value="UpdateSchool">
        {% else %}
            <input type="submit" value="CreateSchool">
        {% endif %}
        </form>
    </center>
{% endblock %}